/* CSS VAN DE WEBSITE */
/* ALGEMENE CSS VOOR DE PAGINA*/
*{
    box-sizing:border-box;
}
@font-face {
    font-family: myriad;
    src: url('../webfonts/MYRIADPRO-REGULAR.woff');
}
@font-face {
    font-family: segoewplight;
    src: url('../webfonts/segoe-wp-light.ttf');
}

body{
    font-family:'myriad','sans-serif';
    font-size:15.35px;
    color: rgba(151,151,151,1);
    width:1250px;
    margin: 0 auto;
}

/*FLEXBOX CSS*/
.d-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.flex-row{
    flex-direction:row;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content:center;
}
.justify-content-end{
    justify-content:flex-end;
}
.justify-content-between{
    justify-content:space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.align-items-center{
    align-items:center;
}
.flex-wrap{
    flex-wrap:wrap;
}
.w-25{
    width:25%;
}
.w-50{
    width:50%;
}
.w-75{
    width:75%;
}
.w-100{
    width:100%;
}
.text-center{
    text-align:center;
}
/* BEGIN NAVIGATIE */
/* LOGO */
#navbar{
    padding-top:20.156px;
    padding-bottom:20.156px;
}
#brand img{
    height:40px;
    width:40px;
    margin-left:120px;
}
#brandname{
    margin-left:15px;
    font-size:42.35px;
    margin-top:0px;
    margin-bottom:0px;
    color:rgba(0,0,0,1);
}
nav{

}
nav ul li{
    padding-right:40px;
    list-style:none;
}
nav ul li a{
    text-decoration:none;
    color:#6c6c6c;
    font-size:20.35px;
}
nav ul li a:hover{
    border-bottom:3px solid #5094f2;
    padding-bottom:15px;
}
/* END NAVIGATIE */

/** BEGIN HERO **/
#hero{
    position:relative;
    color:rgba(255,255,255,1);
}
#herotext{
    position:absolute;
    left:630px;
    top:110px;
}
#herotext h1{
    font-weight:100;
    font-family: segoewplight;
    font-size:2.6rem;
    letter-spacing: 1px;
    margin-bottom:0px;
}
#herotext p{
    font-size:1.3rem;
    font-weight:100;
}
#herobutton{
    background:#5094f2;
    padding:12px 16px;
    font-size:1.4rem;
    font-weight:300;
    color:rgba(255,255,255,1);
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin-left:10px;
}
#herobutton span{
    padding-left:15px;
}
/** END HERO **/

/** BEGIN LATEST NEWS **/
#latestnews{
    margin-bottom:120px;
}
#latestnews h2{
    color: rgba(111,113,115,1);
}
.bol{
    height:185px;
    width:185px;
    border-radius:50%;
}
#pencil img{
    background:#5094f2;
}
#pc img{
    background:#d94748;
}
#basket img{
    background:#ebbb11;
}
#articles{
    text-align:center;
}
#articles article{
    width:250px;
}
/** END LATEST NEWS **/

/*SHOPPING CART*/
#shoppingheader{

}
#shoppingtext{
    width:450px;
}
#shoppingtext p{
    line-height:2.8;
}
#shoppingcart{

}
/*END SHOPPING CART*/
/*FOOTER*/
footer{
    border-top: 3px solid #e5e5e5;
}